In [284]:
# Colby Bailey ( nib667 )
# Project 4 
# Data Science Summer 2023

In [285]:
# Imports
from bs4 import BeautifulSoup
import pandas as pd

In [286]:
# Task 1

In [287]:
URL = "https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States"

In [288]:
# Implement GET request to URL to retrieve content. Create a BeautifulSoup object with content.
response = requests.get( URL )
deliciousSoupObject = BeautifulSoup( response.content, "html.parser" )

In [289]:
# Task 2

In [290]:
# Locate table and find the class that equals wikitable sortable plainrowheaders.
tables = deliciousSoupObject.find( "table", class_="wikitable sortable plainrowheaders" )

In [291]:
# Extract all <th> tags
thTags = tables.find_all( "th" )

In [292]:
# For each thTags item, find the "a" tag and append to list.
list = []
for t in thTags:
    aTag = t.find_all( "a" )
    for a in aTag:
        word = a.text.strip( )
        list.append( word )

In [293]:
# Validate values
print( list )

['postal abbreviation', '[8]', '[A]', '[10]', '[11]', '[11]', '[11]', 'Numberof Reps.', '[12]', 'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', '[B]', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', '[B]', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', '[B]', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', '[B]', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

In [294]:
# Filter out unwanted words
states = []
unwanted = [ "Numberof Reps.", "postal abbreviation"]
for i in list:
    if( i[ 0 ].isupper( ) and i not in unwanted ):
        states.append( i )

In [295]:
# Validate values
print( states, len( states ) )

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'] 50

In [296]:
# Task 3

In [297]:
# Extract all <td> tags
tdTags = tables.find_all( "td" )

In [298]:
# For each tdTags item, find the "div" tag and append to list.
populations = []
for td in tdTags:
    divTags = td.find_all( "div" )
    for d in divTags:
        word = d.text.strip( )
        populations.append( word )

In [299]:
# Validate values
print( populations )

['5,024,279', '7', '733,391', '1', '7,151,502', '9', '3,011,524', '4', '39,538,223', '52', '5,773,714', '8', '3,605,944', '5', '989,948', '1', '21,538,187', '28', '10,711,908', '14', '1,455,271', '2', '1,839,106', '2', '12,812,508', '17', '6,785,528', '9', '3,190,369', '4', '2,937,880', '4', '4,505,836', '6', '4,657,757', '6', '1,362,359', '2', '6,177,224', '8', '7,029,917', '9', '10,077,331', '13', '5,706,494', '8', '2,961,279', '4', '6,154,913', '8', '1,084,225', '2', '1,961,504', '3', '3,104,614', '4', '1,377,529', '2', '9,288,994', '12', '2,117,522', '3', '20,201,249', '26', '10,439,388', '14', '779,094', '1', '11,799,448', '15', '3,959,353', '5', '4,237,256', '6', '13,002,700', '17', '1,097,379', '2', '5,118,425', '7', '886,667', '1', '6,910,840', '9', '29,145,505', '38', '3,271,616', '4', '643,077', '1', '8,631,393', '11', '7,705,281', '10', '1,793,716', '2', '5,893,718', '8', '576,851', '1']

In [300]:
# Filter out unwanted values by checking if value is int or not
values = []
for p in populations:
    try:
        population = int( p )
    except ValueError:
        values.append( p )

In [301]:
# Validate input
print( values )

['5,024,279', '733,391', '7,151,502', '3,011,524', '39,538,223', '5,773,714', '3,605,944', '989,948', '21,538,187', '10,711,908', '1,455,271', '1,839,106', '12,812,508', '6,785,528', '3,190,369', '2,937,880', '4,505,836', '4,657,757', '1,362,359', '6,177,224', '7,029,917', '10,077,331', '5,706,494', '2,961,279', '6,154,913', '1,084,225', '1,961,504', '3,104,614', '1,377,529', '9,288,994', '2,117,522', '20,201,249', '10,439,388', '779,094', '11,799,448', '3,959,353', '4,237,256', '13,002,700', '1,097,379', '5,118,425', '886,667', '6,910,840', '29,145,505', '3,271,616', '643,077', '8,631,393', '7,705,281', '1,793,716', '5,893,718', '576,851']

In [302]:
# Task 4

In [303]:
# Initialize DataFrame structure and use pandas to complete
structure = { "State": states, "Population": values }
df = pd.DataFrame( structure )

In [304]:
# Validate input
print( df )

             State  Population
0          Alabama   5,024,279
1           Alaska     733,391
2          Arizona   7,151,502
3         Arkansas   3,011,524
4       California  39,538,223
5         Colorado   5,773,714
6      Connecticut   3,605,944
7         Delaware     989,948
8          Florida  21,538,187
9          Georgia  10,711,908
10          Hawaii   1,455,271
11           Idaho   1,839,106
12        Illinois  12,812,508
13         Indiana   6,785,528
14            Iowa   3,190,369
15          Kansas   2,937,880
16        Kentucky   4,505,836
17       Louisiana   4,657,757
18           Maine   1,362,359
19        Maryland   6,177,224
20   Massachusetts   7,029,917
21        Michigan  10,077,331
22       Minnesota   5,706,494
23     Mississippi   2,961,279
24        Missouri   6,154,913
25         Montana   1,084,225
26        Nebraska   1,961,504
27          Nevada   3,104,614
28   New Hampshire   1,377,529
29      New Jersey   9,288,994
30      New Mexico   2,117,522
31        New York  20,201,249
32  North Carolina  10,439,388
33    North Dakota     779,094
34            Ohio  11,799,448
35        Oklahoma   3,959,353
36          Oregon   4,237,256
37    Pennsylvania  13,002,700
38    Rhode Island   1,097,379
39  South Carolina   5,118,425
40    South Dakota     886,667
41       Tennessee   6,910,840
42           Texas  29,145,505
43            Utah   3,271,616
44         Vermont     643,077
45        Virginia   8,631,393
46      Washington   7,705,281
47   West Virginia   1,793,716
48       Wisconsin   5,893,718
49         Wyoming     576,851

In [306]:
# Write DataFrame to CSV file
df.to_csv( 'us_info.csv' )